.services-container {
  margin-top: 71px;
  padding: 0 20%;
}

.service {
  margin: 20px 0;
}

.service > p {
  max-width: 250px;
}

.service-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
}

.service-icon svg path {
  fill: var(--colour-darker-yellow);
}

.h-line {
  width: 100%;
  height: 0px;
  border: 2px solid var(--colour-dark-yellow);
  border-radius: 4px;
  max-width: 75%;
  margin: 45px auto;
}

@media screen and (min-width: 1024px) {
  .services-container {
    flex-direction: row !important;
    justify-content: space-evenly;
    padding: 0 13%;
    margin-top: 150px;
  }
}
